html {
  font-size: 12pt;
  font-family: sans-serif;
}

li {
  padding: 5px 25px 5px 25px;
  font-size: 15pt;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

li.question {
  margin-bottom: 25px;
  font-size: 18pt;
}

li.question:hover {
  background-color: initial;
}
li:hover {
  background-color: #999;
}

.container {
  margin: 0 auto;
  width: 70%;
}

#time-remaining {
  height: 25px;
}


#comment {
  font-size: 12pt;
}



input {
  background: none;
  color: rgb(140, 140, 140);
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 50%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid lightgrey;
}

input:focus {
  outline: none;
}

form {
  display: flex;
  align-items: center;;
}

button {
  background-color: #D6EEFF;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 20px 40px 20px 0;
  font-size: 20px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.lucky-btn {
  background-color: #A491D3;
  color: white;
}
